p{
    margin: 0;
}

h3 {
    text-align: center;
}

.chart {
    display: block;
    margin: 0 auto;
}

.container {
    margin: 1em;
}

.flexbox {
    display: flex;
}

.centerflex {
    justify-content: center;
}

.vertical {
    flex-direction: column;
}

.tinyMargin {
    margin-left: 20px;
    margin-right: 20px;

}

.halfMargin {
    margin-left: 44%;
}

.weight-slider-container {
    height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;
}

.legendBox {
    transform: scale(0.7);
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    min-height: 157px;
}

.legendBox .container-category {
    background-color: #fae3c4;
    color: black;
}

.legendBox .container-header {
    background-color: #fdf1e2;
    color: black;
}

.legendBox .container-body {
    background-color: #fdf4e7;
    color: black;
}

.container-category {
    float: left;
    width: 8rem;
    height: 3rem;
    margin-bottom: .5rem;
    padding-top: 0.75em;
    background-color: #fae3c4;
    border-radius: .25rem;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.container-header {
    height: 3rem;
    margin-left: 8.5rem;
    margin-bottom: .5rem;
    padding-left: 1em;
    background-color: #daeeff;
    border-radius: .25rem;
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
}

.container-body {
    height: 8rem;
    background-color: #957bbe;
    border-radius: .25rem;
    font-weight: bold;
    color: whitesmoke;
}

.leaderBoardItem {
    float:right;
}


div.slider.slider-horizontal {
    font-size: 0.5em;
}

div.slider-selection.tick-slider-selection {
    background: whitesmoke;
}

div.slider-tick.round.in-selection {
    background: whitesmoke;
}


#title {
    text-align: center;
    color: gray;
    margin-bottom: 2em;
}